#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp

#Architecture 
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp 

	# Add here commands to compile the arch part of the package.
	$(MAKE) 
	convert 4digits.xpm -scale 32x32 4digits_32x32.xpm
	touch $@

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp 

	# Add here commands to compile the indep part of the package.
	#$(MAKE) doc
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean
	rm -f 4digits_32x32.xpm

	dh_clean 

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i 
	dh_installdirs -i

	# Add here commands to install the indep part of the package into
	# debian/<package>-doc.
	#INSTALLDOC#

	dh_install -i

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	# Add here commands to install the arch part of the package into 
	# debian/tmp.
	# No "install" target for now.
	# $(MAKE) DESTDIR=$(CURDIR)/debian/4digits install

	install -d $(CURDIR)/debian/4digits/usr/share/man/man6
	install -m 644 4digits.6.gz $(CURDIR)/debian/4digits/usr/share/man/man6
	ln -sf 4digits.6.gz $(CURDIR)/debian/4digits/usr/share/man/man6/4digits-text.6.gz

	install -d $(CURDIR)/debian/4digits/usr/share/4digits
	install -m 644 4digits.glade 4digits_logo.png 4digits_logo.xcf $(CURDIR)/debian/4digits/usr/share/4digits

	install -d $(CURDIR)/debian/4digits/usr/games
	install -m 755 4digits-text 4digits $(CURDIR)/debian/4digits/usr/games

	install -d $(CURDIR)/debian/4digits/usr/share/doc/4digits
	cp -af doc/* $(CURDIR)/debian/4digits/usr/share/doc/4digits
	mv $(CURDIR)/debian/4digits/usr/share/doc/4digits/ChangeLog $(CURDIR)/debian/4digits/usr/share/doc/4digits/changelog
	gzip -9 $(CURDIR)/debian/4digits/usr/share/doc/4digits/changelog

	install -d $(CURDIR)/debian/4digits/usr/share/pixmaps
	install -m 0644 4digits.xpm $(CURDIR)/debian/4digits/usr/share/pixmaps
	install -m 0644 4digits_32x32.xpm $(CURDIR)/debian/4digits/usr/share/pixmaps

	install -d $(CURDIR)/debian/4digits/usr/share/applications
	install -m 0644 4digits.desktop $(CURDIR)/debian/4digits/usr/share/applications

	dh_install -s
# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installmenu
	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
